doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Document
    style.
      body {
          font-family: Arial, sans-serif;
          background-color: #e0e0e0;
          margin: 0;
          padding: 0;
      }
      .menu {
          width: 200px;
          margin: 0 auto;
          padding-top: 20px;
      }
      .menu-item {
          background-color: #d3d3d3;
          padding: 15px;
          text-align: center;
          border-bottom: 1px solid #c0c0c0;
          font-size: 16px;
          font-style: italic;
          color: rgb(10, 10, 10);
      }
  body
    .menu
      .menu-item kontak
      .menu-item redaksi
      .menu-item pedoman berita
      .menu-item visi dan misi
      .menu-item FAQ
      .menu-item disclaimer
      .menu-item pedoman berita
