  - const cardData = [
      { "link": "edukasi1.html", "imgSrc": "https://storage.googleapis.com/a1aa/image/hSxUoJiDdFq6LVdelJYc9aEvyxF8mmLdqtEsBSS7cLeiniqTA.jpg", "altText": "Illustration of a blood pressure monitor on an arm with a heart symbol" }
    ];
