include berita.pug
include buttom.pug
include edukasi 1.pug
include edukasi 2.pug
include edukasi 3.pug
include edukasi 4.pug
include footer.pug
include gambar berita.pug
include haeder.pug
include info.pug
include info 2.pug
include info 3.pug
include kartun.pug
include kesehatan.pug
include kolom komentar.pug
include kontak.pug
include like.pug
include panah.pug
include video.pug
include audio.pug
include pedoman.pug
include berita.pug