mixin disclemer()
    .container
      .disclaimer-title DISCLAIMER
      .disclaimer-text Berita ini disajikan hanya untuk tujuan informasi. Meskipun kami berusaha untuk menyajikan informasi yang akurat dan terkini, kami tidak menjamin keakuratan, kelengkapan, atau relevansi dari informasi yang diberikan. Pendapat dan analisis yang diungkapkan dalam berita ini adalah milik penulis dan tidak mencerminkan posisi resmi organisasi kami. Pembaca diharapkan untuk melakukan verifikasi lebih lanjut dan mempertimbangkan sumber lain sebelum mengambil keputusan berdasarkan informasi yang disajikan.
      .image-container
        img(src="https://storage.googleapis.com/a1aa/image/Qysusn2COD5WFdJNi5Z9NahJikcRfwpTl41lCJ1WNkiUvH4JA.jpg", alt="Illustration of a person with glasses, wearing a white shirt, and smiling", height="150", width="150")