<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
    <body>
        <div class="container">
         <div class="news-item">
          <img alt="Aerial view of a flooded area with houses and trees submerged in water" height="146" img src="foto/image copy 2.png" width="286"/>
          <p>
           VIDEO: Banjir Hantam Rumania Timur, 4 Warga Dilaporkan Tewas
          </p>
         </div>
         <div class="news-item">
          <img alt="A character from the movie Beetlejuice with green hair and a striped suit" height="146" src="foto/image copy.png" width="286"/>
          <p>
           VIDEO: Beetlejuice Beetlejuice Masih Berkuasa di Box Office Pekan Ini
          </p>
         </div>
         <div class="news-item">
          <img alt="A rocket launching into the sky with clouds in the background" height="146" src="foto/image.png" width="286"/>
          <p>
           VIDEO: Momen Iran Sukses Kirim Satelit Chamran-1 ke Orbit Bumi
          </p>
         </div>
         <div class="news-item">
          <img alt="A person speaking at a podium with a serious expression" height="146" src="foto/image copy 3.png" width="286"/>
          <p>
           VIDEO: Momen Kamala Harris-Donald Trump Salaman di Acara 911
          </p>
         </div>
        </div>
       </body>
      </html>
