extends komponen/pug/_template.pug

block content
 .grid.grid-cols-1.md: grid-cols-2.gap-8
 - const songs = [{ image: "https://storage.googleapis.com/a1aa/image/ie7KosyozpUNIyLP4RJKnRtwWnrANFnyR9OztNOwa6CCcG4JA.jpg", alt: "Image of Amin Paling Serius", title: "Amin Paling Serius", description: "Song · Sal Priadi, Nadin Amizah", year: "2019", link: "#" },{ image: "https://storage.googleapis.com/a1aa/image/yOb8u09AjRbjLlx3sypLNgyypNuiAFwf46qropeor6eKwZgnA.jpg", alt: "Image of Runth", title: "Runth", description: "Song", year: "2019", link: "#" },{ image: "https://storage.googleapis.com/a1aa/image/6m4uKS1EW74BCRlfMwx1nhYBFEOuftQatdFSsjylqIzC4MwTA.jpg", alt: "Image of Resah", title: "Resah", description: "Song · Payung Teduh", year: "2014", link: "#" },{ image: "https://storage.googleapis.com/a1aa/image/2rDrhydKMr4wAtIuU40b0T5F3agWEJepbx6oERbU4uuDcG4JA.jpg", alt: "Image of Sampai Jadi Debu", title: "Sampai Jadi Debu (Menampilkan Gardika Gigih)", description: "Song · Banda Neira", year: "2016", link: "#" }]
    each song in songs
      +SongCard(song.image, song.alt, song.title, song.description, song.year, song.link)