extends komponen/pug/_template.pug

block content
  .grid.grid-cols-1.md: grid-cols-2.gap-8
  +SongCard(
    "https://storage.googleapis.com/a1aa/image/ie7KosyozpUNIyLP4RJKnRtwWnrANFnyR9OztNOwa6CCcG4JA.jpg",
    "Image of Amin Paling Serius",
    "Amin Paling Serius",
    "Song · Sal Priadi, Nadin Amizah",
    "2019",
    "#"
  )
  +SongCard(
    "https://storage.googleapis.com/a1aa/image/yOb8u09AjRbjLlx3sypLNgyypNuiAFwf46qropeor6eKwZgnA.jpg",
    "Image of Runth",
    "Runth",
    "Song",
    "2019",
    "#"
  )
  +SongCard(
    "https://storage.googleapis.com/a1aa/image/6m4uKS1EW74BCRlfMwx1nhYBFEOuftQatdFSsjylqIzC4MwTA.jpg",
    "Image of Resah",
    "Resah",
    "Song · Payung Teduh",
    "2014",
    "#"
  )
  +SongCard(
    "https://storage.googleapis.com/a1aa/image/2rDrhydKMr4wAtIuU40b0T5F3agWEJepbx6oERbU4uuDcG4JA.jpg",
    "Image of Sampai Jadi Debu",
    "Sampai Jadi Debu (Menampilkan Gardika Gigih)",
    "Song · Banda Neira",
    "2016",
    "#"
  )