extends komponen/pug/_template.pug

block content
  div.cards-container
   each card in [{ image: 'Foto/image.ainur.png', altText: 'tvOne logo' },{ image: 'Foto/image copy.png', altText: 'Metro TV logo' },{ image: 'Foto/image.png', altText: 'Kompas TV logo' },{ image: 'Foto/image copy 3.png', altText: 'iNews TV logo' }]
    +Card(card.image, card.altText)