extends komponen/pug/_template.pug

block content
 .container#container
  +Card('Foto/image.ainur.png', 'tvOne logo')
  +Card('Foto/image copy.png', 'Metro TV logo')
  +Card('Foto/image.png', 'Kompas TV logo')
  +Card('Foto/image copy 3.png', 'iNews TV logo')