extends komponen/pug/_template.pug
block rel
  link(rel="stylesheet" href="komponen/css/style.css")
block main
  .container
    +Card(
      "card1",
      "HINDARI ROKOK DAN ALKOHOL",
      "https://storage.googleapis.com/a1aa/image/XG4ps1KgU0LhCBVAMaAbj4pBaY7Hq5UiJetcdye0Wfme0rrOB.jpg",
      "Illustration of a person wearing a mask with pollution elements like factories and cars in the background",
      null,
      "nextCard()"
    )
    +Card(
      "card2",
      "OLAHRAGA TERATUR",
      "https://storage.googleapis.com/a1aa/image/qW6uCTfFJvxyZi4xOy8S9JVtwuNvU1aRG1UW0Hbvj1bne6qTA.jpg",
      "Illustration of a person pointing to a recycle symbol",
      "prevCard()",
      "nextCard()"
    )
    +Card(
      "card3",
      "HINDARI STRES",
      "https://storage.googleapis.com/a1aa/image/szgzqiQCuELZDNmqWEyRnuyXJF0k3A5scuxkpyUB3e0oe6qTA.jpg",
      "Illustration of a person planting a tree",
      "prevCard()",
      null
    )
