extends komponen/pug/_template.pug

block content
  .container-faq
    .faq-section-faq
      h2 Konten:
      ul
        li Dari mana sumber berita di situs ini?
        li Bagaimana cara saya melaporkan kesalahan dalam berita?
        li Apakah saya bisa menyalin artikel dari situs ini?

    .faq-section-faq
      h2 Situs Web:
      ul
        li Bagaimana cara berlangganan SaturNews?
        li Bagaimana cara mencari artikel tertentu?
        li Mengapa beberapa artikel Mencari film, komik, edukasi kesehatan, dan novel tidak dapat diakses?

    .image-container-faq
      img(src="https://storage.googleapis.com/a1aa/image/EQai57o27zLnGRlX8c1rh41bbok7frdFGHjr1CgWTg1ybv1JA.jpg" alt="Illustration of a person standing and waving" width="100" height="200")
