extends komponen/pug/_template.pug

block content
  .container-film
    .header-film
      h1 Sebanyak empat film Indonesia dirilis bulan Juni 2024. Berikut ini rekomendasi film Indonesia baru rilis yang bisa ditonton di akhir pekan bareng keluarga, teman, dan pacar.

    .image-container-film
      img(src="https://storage.googleapis.com/a1aa/image/NM6T7xA3rdofYasaych5TzTxFF3wiO5oU9nyZL0Bex5Zf8WnA.jpg" alt="Poster of four Indonesian films released in June 2024" width="600" height="300")

    .content-film
      .film-section-film
        div
          p Film drama komedi Indonesia yang rilis tahun 2022 ini disutradarai dan ditulis oleh Bene Dion Rajagukguk. Film Ngeri-ngeri Sedap berlatar Suku Batak.
          br
          | Pemeran utama Ngeri-ngeri Sedap, yakni pemeran bersuku Batak, seperti Arswendy Beningswara Nasution, Tika Panggabean, Boris Bokir Manullang, dan Gita Bhebitha Butar-butar, serta pemeran asal Sumatra Utara, seperti Indra Jegel dan Lolox.
          br
          | Film ini ditayangkan perdana di bioskop Indonesia pada 2 Juni 2022. Sudah bisa ditonton di bioskop Kuta dan Denpasar Bali.
        
        div
          p Film Ranah 3 Warna disutradarai Guntur Soeharjanto. Film ini berdasarkan novel dengan judul sama karya Ahmad Fuadi. Film produksi MNC Pictures ini dirilis pada 30 Juni 2022, dan sudah bisa ditonton di bioskop Kuta dan Denpasar Bali.
          br
          | Film yang ditayangkan perdana di Jakarta Film Week 2021 ini dibintangi Arbani Yasiz sebagai pemeran utama. Ia beradu akting bersama Amanda Rawles, Teuku Rassya, Lukman Sardi, Maudy Koesnaedi, Tanta Ginting, dan Asri Welas.

      p Film Keluarga Cemara 2 berlatar di masa pasca pandemi, Keluarga Cemara memulai babak baru dalam kehidupan mereka. Abah (Ringgo Agus Rahman) mendapatkan pekerjaan baru, Euis (Adhisty Zara) beranjak remaja, dan Emak (Nirina Zubir) fokus merawat si bungsu, Agil (Niloufer Bahalwan). Di saat semua sedang fokus dengan kesibukan masing-masing, Ara (Widuri Putri Sasono) merasa tersisih.
