extends komponen/pug/_template.pug

block content
   .div.main-container-custom
      .div.content-container-custom
        .div.content-custom
          .div.text-content-custom
            h1.title-custom BERITA NASIONAL
            p.text-custom
            | Kurang dari dua bulan jelang pelantikan Presiden dan Wakil Presiden RI terpilih periode 2024-2029 Prabowo Subianto-Gibran Rakabuming Raka, pembicaraan mulai mengarah seputar susunan kabinet dan jumlah menteri. Politikus Partai Golkar sekaligus Ketua MPR RI Bambang Soesatyo sempat mendengar bahwa kabinet Prabowo-Gibran bakal diisi 44 menteri..................................................................................................................
            img.news-image-custom(
            src="https://storage.googleapis.com/a1aa/image/1JHc6RveUeretIG1JXH9ef4sa3XWuII6o1FBhxfdn4FScg36E.jpg", 
            alt="Breaking news image with a news anchor and text", 
            width="300", 
            height="200"
            )

      .image-container-custom
         each image in [{ src: 'https://storage.googleapis.com/a1aa/image/NOeG4lkiFowyRqc99P3lSQZWya6uJgMRAQLxvaZB6Ds5Av1JA.jpg', alt: 'Image of a landscape with fields', width: 200, height: 200 },{ src: 'https://storage.googleapis.com/a1aa/image/dWXhpay4Eq7DDZjESriWaUfAveCSdtVGRi4DlTkAFpF2BeWnA.jpg', alt: 'Image of a group of people in a village setting', width: 200, height: 200 },{ src: 'https://storage.googleapis.com/a1aa/image/w76tvu4lmTZRD1NRxynmpQyuKy40JU1AHunae9xAx973Av1JA.jpg', alt: 'Image of a sunset over a cityscape', width: 200, height: 200 } ]
          +nasional(image.src, image.alt, image.width, image.height)