extends komponen/pug/_template.pug

block content
  .container-pedoman
    h1 PEDOMAN BERITA
    p
      strong Tujuan
      br
      | Pedoman ini bertujuan untuk memastikan semua berita yang dipublikasikan SaturNews memenuhi standar jurnalistik yang baik, akurat, relevan, dan dapat dipertanggungjawabkan.

    p
      strong Ruang Lingkup
      br
      | Pedoman ini berlaku untuk semua jenis berita yang dipublikasikan di SaturNews, baik berita asli, berita hasil liputan, maupun berita kutipan dari sumber lain.

    p
      strong Prinsip-Prinsip Berita
    ul
      li Akurasi: Semua informasi yang disampaikan harus benar dan dapat diverifikasi.
      li Objektivitas: Berita harus disajikan secara seimbang dan tidak memihak.
      li Relevan: Berita harus memiliki nilai berita yang tinggi dan menarik bagi pembaca.
      li Aktualitas: Berita harus disampaikan secara cepat dan tepat waktu.
      li Klarifikasi: Jika terdapat kesalahan dalam berita, harus segera dilakukan klarifikasi dan koreksi.

    p
      strong Proses Penulisan Berita
    ul
      li Pengumpulan Data: Wartawan wajib mengumpulkan data dari berbagai sumber yang kredibel.
      li Verifikasi: Semua data harus diverifikasi kebenarannya sebelum dipublikasikan.
      li Penulisan: Berita harus ditulis dengan bahasa yang jelas, mudah dipahami, dan sesuai dengan EYD.
      li Editing: Berita harus melalui proses editing untuk memastikan tidak ada kesalahan fakta, tata bahasa, maupun ejaan.
      li Publikasi: Berita yang telah lolos editing dapat dipublikasikan.

    .image-container-pedoman
      img(src="https://storage.googleapis.com/a1aa/image/Le3qBiy6FTzVW66wNHTZwCz4yqN8ewyHNnONtbPXodcRweWnA.jpg" alt="Illustration of a journalist holding a notebook and pen" width="150" height="150")
