extends komponen/pug/_template.pug

block content
   +NewsItem(
  "https://storage.googleapis.com/a1aa/image/ugwsX0pfdNwKDawX3LGRN3pUQZoR1JyhA3SmfbdMAQVA1iqTA.jpg",
  "Aerial view of a flooded area with houses and trees submerged in water",
  "VIDEO: Banjir Hantam Rumania Timur, 4 Warga Dilaporkan Tewas"
)
   +NewsItem(
  "https://storage.googleapis.com/a1aa/image/STLNjnf35mzHACQkLOl7drrAZWeLE7iBp3uIDbuxrjYD1iqTA.jpg",
  "A character with green hair and white face paint in a dark setting",
  "VIDEO: Beetlejuice Beetlejuice Masih Berkuasa di Box Office Pekan Ini"
)
   +NewsItem(
  "https://storage.googleapis.com/a1aa/image/fJ9WFfdC3qsQ1kaEwMcalF9NN0OWvtDiFKtLwG5oKQLfpFVnA.jpg",
  "A rocket launching into the sky with smoke and fire at the base",
  "VIDEO: Momen Iran Sukses Kirim Satelit Chamran-1 ke Orbit Bumi"
)
   +NewsItem(
  "https://storage.googleapis.com/a1aa/image/J4yZex06rehqwkqezfLSkmWPhoSu0KBqep8nJHChaqKSoWUdC.jpg",
  "A person speaking at an event with a dark background",
  "VIDEO: Momen Kamala Harris-Donald Trump Salaman di Acara 911"
)