extends komponen/pug/_template.pug

block content
  .container-misi-visi
    .panel-misi-visi
      h2 Misi:
      ul
        li
          strong Misi Umum:
          ul
            li Menyajikan informasi yang akurat, relevan, dan terkini
            li Membangun komunitas yang aktif dan saling mendukung
            li Memfasilitasi interaksi antara pengguna
            li Menjadi referensi utama bagi pembaca
        li
          strong Misi Spesifik:
          ul
            li Menyediakan konten edukatif tentang Kesehatan
            li Menawarkan berbagai komik, film, dll
            li Membantu UMKM lokal memasarkan produknya secara online

    .image-container-misi-visi
      img(src="https://storage.googleapis.com/a1aa/image/tAqk51OoG7qdIloXbYMWbqGVmsoyEHFtbIVeikeFMDqfm9WnA.jpg" alt="Illustration of a person holding a pointer and a book" width="150" height="300")

    .panel-misi-visi
      h2 Visi:
      ul
        li
          strong Visi Umum:
          ul
            li Menjadi sumber informasi yang terpercaya dan terlengkap mengenai berita di Indonesia.
        li
          strong Visi Spesifik:
          ul
            li Menjadi platform online nomor satu untuk pecinta film, komik, novel, dan edukasi kesehatan
