doctype html
html(lang="id")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title SEDANG TRENDING
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css")
    link(rel="stylesheet" href="audio.css")

  body
    .container
      .title SEDANG TRENDING

      .card
        .card-image
          img(src="https://storage.googleapis.com/a1aa/image/tmn5fwJSyq3iN6kvIceNefKCUeq0YqeBTznn1qHob6SeRsH4JA.jpg" alt="Image of Amin Paling Serius" width="300" height="150")
          button.view-button View
        .card-content
          h3 Amin Paling Serius
          p Song · Sal Priadi, Nadin Amizah · 2019
          .spotify 
            i.fab.fa-spotify 
            | Spotify

      .card
        .card-image
          img(src="https://storage.googleapis.com/a1aa/image/gGBdB833koqGGBVuMdcJk6U2EJH2QGBR6KUv51fv80dQsH4JA.jpg" alt="Image of Runtuh" width="300" height="150")
          button.view-button View
        .card-content
          h3 Runtuh
          p Song · Spotify
          .spotify 
            i.fab.fa-spotify 
            | Spotify

      .card
        .card-image
          img(src="https://storage.googleapis.com/a1aa/image/ZgCf8GkDNTUbf0UDXo0CxiecjGEpayPThlpA7qSe2jq4h9APB.jpg" alt="Image of Resah" width="300" height="150")
          button.view-button View
        .card-content
          h3 Resah
          p Song · Payung Teduh · 2014
          .spotify 
            i.fab.fa-spotify 
            | Spotify

      .card
        .card-image
          img(src="https://storage.googleapis.com/a1aa/image/7GgfibzeIecjQoQB15YdPrG26any1vYwEjR82UwQxzRExeAPB.jpg" alt="Image of Sampai Jadi Debu (Menampilkan Gardika Gigih)" width="300" height="150")
          button.view-button View
        .card-content
          h3 Sampai Jadi Debu (Menampilkan Gardika Gigih)
          p Song · Banda Neira · 2016
          .spotify 
            i.fab.fa-spotify 
            | Spotify
