doctype html
html
  head
    link(rel="stylesheet" type="text/css" href="../info 3.css")
  body
    .container
      .circle
        img(alt="Group of animated characters with large eyes" height="100" width="100" src="https://storage.googleapis.com/a1aa/image/eRPhstBvpK0ESqsMNtlnNwK3tdCCjrMshbeMEGXlfNPnHVVnA.jpg")
      .circle.large
        img(alt="Group of animated characters with bunny ears" height="200" width="200" src="https://storage.googleapis.com/a1aa/image/Bso5MlUahw61LBLTQZUGCj24LNL6XHBPfb8QUCG3byc4RV1JA.jpg")
      .circle
        img(alt="Group of animated characters in a dynamic pose" height="100" width="100" src="https://storage.googleapis.com/a1aa/image/iYlEGOHKye2jU6t3C8mdj8qZUJ6yjWGSeTpeub1yYWvkHVVnA.jpg")
