doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Document
    link(rel="stylesheet" href="kesehatan.css")

  - const cardData = [
      { link: "edukasi1.html", imgSrc: "https://storage.googleapis.com/a1aa/image/hSxUoJiDdFq6LVdelJYc9aEvyxF8mmLdqtEsBSS7cLeiniqTA.jpg", altText: "Illustration of a blood pressure monitor on an arm with a heart symbol" },
      { link: "edukasi2.html", imgSrc: "https://storage.googleapis.com/a1aa/image/iIydQyd6KCI9JZS2eSkZYvNlg0Msk6ispPw69SFfOfsNPFVnA.jpg", altText: "Illustration of a nose with an oxygen symbol" },
      { link: "edukasi3.html", imgSrc: "https://storage.googleapis.com/a1aa/image/Hh9J8fW0Id2udiRBXKGf8yOmtCClllh5df8e5TwAlf3j8UUdC.jpg", altText: "Illustration of feet on a weighing scale" },
      { link: "edukasi4.html", imgSrc: "https://storage.googleapis.com/a1aa/image/sr1QakpIp36MEhnMzkXNiw1kzCISbcsg4UEa3i1O8Ra5po6E.jpg", altText: "Illustration of a thermometer with a degree symbol" }
    ];

  body
    .card-container#cardContainer
      each card, index in cardData
        .card(class="card-" + (index + 1))
          a(href=card.link)
            img(src=card.imgSrc, alt=card.altText)
