body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: white;
  }
  
  .footer {
    background-color: #d8e9ec;
    padding: 15px 30px;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    flex-wrap: wrap;
  }
  
  .footer .left {
    display: flex;
    align-items: center;
  }
  
  .footer .left img {
    height: 100px;
    margin-right: 10px;
  }
  
  .footer .left .social-icons {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
  }
  
  .footer .left .social-icons a {
    color: #7a7a7a;
    text-decoration: none;
    margin: 6px 0;
    display: flex;
    align-items: center; 
    transition: color 0.3s;
    line-height: 40px;
  }
  
  .footer .left .social-icons a i {
    margin-right: 4px;
    line-height: 40px;
  }
  
  .footer .left .social-icons a:hover {
    color: #007bff;
  }
  
  .footer .right {
    text-align: right;
    flex: 1;
  }
  
  .footer .right p {
    margin: 19px 0;
    color: #7a7a7a;
    font-size: 25px;
  }
  
  .footer .right p a {
    color: #7a7a7a;
    text-decoration: none;
    margin: 0 5px;
    transition: color 0.3s;
  }
  
  .footer .right p a:hover {
    color: #007bff;
  }
  
  @media (max-width: 768px) {
    .footer {
      flex-direction: column;
      align-items: flex-start;
      padding: 10px;
    }
  
    .footer .right {
      text-align: left;
    }
  }
  