body{
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to top, #47c5d5, #12151a);
    color: #000;
    padding: 0px 10px 0px 10px;
}
p{
    font-size: 12px;
    margin: 15px 0 0 25px;
}
.container {
    height: 100%;
    width: 100%;
    margin: auto;
    position: relative;

}
.tumbal{
    position:absolute;
    bottom: 0;
    background-color:#517E81;
    height: 63%;
    width: 100%;
    z-index: -1;
    border-radius: 30px;
}
.container2{
    display: flex;
    height: 80%;
    width: 95%;
    justify-content: start;
    justify-items: start;
    box-sizing: border-box;
    padding-top: 10rem ;
    margin-left: 70px;
    
   
}

.containeritems{
    height: 60%;
    width: 100%;
    
}
.items{
    display: flex;
}
img{
    width: 150px;
    height: 150px;
    box-shadow: 2px 2px;
}