body {
    background-color: #EFF3F3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}
.container {
display: grid;
grid-template-columns: 1fr 1fr;
row-gap: 42px;
column-gap: 18rem;
margin: 20px 35px 45px 45px; } 
.card {
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card img {
    width: 475px;
    height: 180px;
    transition: transform 0.3s ease;
}
.card:hover img {
    transform: scale(1.05); 
}
.card:active img {
    transform: scale(0.95);
}