<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <html>
 <head>
  <title>
   TV Channels
  </title>
 </head>
 <body>
  <div class="container">
   <div class="card">
    <img alt="tvOne logo" height="200" src="Foto/image.ainurpng" width="500"/>
   </div>
   <div class="card">
    <img alt="Metro TV logo" height="200" src="Foto/image copy.png" width="500"/>
   </div>
   <div class="card">
    <img alt="Kompas TV logo" height="200" src="Foto/image.png" width="500"/>
   </div>
   <div class="card">
    <img alt="iNews TV logo" height="200" src="Foto/image copy 3.png" width="500"/>
   </div>
  </div>


 </body>
</html>