body {
    background-color: #1a5d5d;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}
.container {
display: grid;
grid-template-columns: 1fr 1fr;
row-gap: 45px;
column-gap: 20rem;
margin: 22px 39px 50px 50px; } 
