body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #EFF3F3;
    margin: 0;
}
.card-container {
    display: flex;
    gap: 20px;
}
.card {
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    transition: transform 0.3s ease;
    cursor: pointer;
    text-align: center;
    padding: 10px;
}
.card img {
    width: 80px;
    height: 120px;
}
.card:active {
    transform: scale(0.95);
}