body {
            background-color:  #EFF3F3;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }
        .container {
            background-color: #EFF3F3;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            width: 80%;
            max-width: 800px;
            animation: fadeIn 1s ease-in-out;
        }
        .images {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;
        }
        .images img {
            max-width: 100%;
            height: auto;
            transition: transform 0.3s ease-in-out;
        }
        .images img:hover {
            transform: scale(1.1);
        }
        .contact {
            text-align: left;
        }
        .contact h2 {
            font-size: 1.5rem;
            font-weight: bold;
            margin-bottom: 10px;
            animation: fadeIn 1.5s ease-in-out;
        }
        .contact .line {
            border-bottom: 2px solid #000000;
            margin-bottom: 10px;
            animation: growLine 1s ease-in-out;
        }

        @keyframes fadeIn {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }

        @keyframes growLine {
            from {
                width: 0;
            }
            to {
                width: 100%;
            }
        }