doctype html
html(lang="id")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Rating Bintang
    link(rel="stylesheet" href="like.css") // Link ke file CSS
  body
    .container
      p rating postingan.

      .star-rating#starRating
        span.star(data-value="1") ★
        span.star(data-value="2") ★
        span.star(data-value="3") ★
        span.star(data-value="4") ★
        span.star(data-value="5") ★
        
      p Rating: <span#ratingValue>0</span>

    script.
      const stars = document.querySelectorAll('.star');
      const ratingValue = document.getElementById('ratingValue');

      stars.forEach(star => {
          star.addEventListener('click', () => {
              const rating = star.getAttribute('data-value');
              ratingValue.textContent = rating;

              // Menghapus kelas 'selected' dari semua bintang
              stars.forEach(s => s.classList.remove('selected'));
              // Menambahkan kelas 'selected' pada bintang yang dipilih
              star.classList.add('selected');
              let previousStar = star.previousElementSibling;

              while (previousStar) {
                  previousStar.classList.add('selected');
                  previousStar = previousStar.previousElementSibling;
              }
          });
      });
