body {
    font-family: Arial, sans-serif;
    background-color: #e0f7fa;
    margin: 0;
    padding: 0;
    height: 100vh; /* Mengisi seluruh tinggi viewport */
    display: flex;
    justify-content: center;
    align-items: center; /* Pusatkan secara vertikal dan horizontal */
}

.container {
    width: 80%;
    max-width: 600px;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}

.section {
    background-color: #b2ebf2;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    display: none; /* Awalnya semua section disembunyikan */
}

.section.active {
    display: block; /* Hanya section aktif yang tampil */
}

.section img {
    width: 400px; /* Lebar gambar diperkecil */
    height: 200px; /* Tinggi gambar diperkecil */
    border-radius: 10px;
}

.section h2 {
    margin-top: 0;
    font-size: 18px;
    font-weight: bold;
}

.arrow {
    font-size: 24px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.arrow-left {
    left: 10px;
}

.arrow-right {
    right: 10px;
}
