include _berita.pug
include _buttom.pug
include _edukasi-1.pug
include _edukasi-2.pug
include _edukasi-3.pug
include _edukasi-4.pug
include _footer.pug
include _gambar.pug
include _haeder.pug
include _info.pug
include _info-2.pug
include _info-3.pug
include _kartun.pug
include _kesehatan.pug
include _kolom-komentar.pug
include _kontak.pug
include _like.pug
include _panah.pug
include _video.pug