mixin footer()
    .footer
      .left
        img(alt="SaturNews logo", src="/footer/foto/saturnus.png")
        .social-icons
          a(href="#") 
            i.fab.fa-instagram
            | @SaturNews
          a(href="#") 
            i.fab.fa-facebook
            | @SaturNews
          a(href="#") 
            i.fab.fa-twitter
            | @SaturNews
      .right
        p PT. SaturNews
        p
          a(href="#") #Nasional
          a(href="#") #Hiburan
          a(href="#") #Live
          a(href="#") #Video
          a(href="#") #Komik
          a(href="#") #Terpopuler
          a(href="#") #Film
          a(href="#") #Kesehatan
          a(href="#") #Audio
