body {
    margin: 0;
    padding: 0;
    background-color: #1b4d4e;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.arrow {
    font-size: 50px;
    color: #000000;
}