doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Document
    style.
      body {
        background-color: #1a5d5d;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
        font-family: Arial, sans-serif;
      }
      .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 45px;
        column-gap: 20rem;
        margin: 22px 39px 50px 50px;
      }
  body
    .container
      .card
        img(src="Foto/imageainur.png", alt="tvOne logo", width="500", height="200")
      .card
        img(src="Foto/image copy.png", alt="Metro TV logo", width="500", height="200")
      .card
        img(src="Foto/image.png", alt="Kompas TV logo", width="500", height="200")
      .card
        img(src="Foto/image copy 3.png", alt="iNews TV logo", width="500", height="200")
