include _navbar.pug
include _footer.pug
include _menuhome.pug
include _homeButton.pug
include _newsArticle.pug
include _contact.pug
include _redaksi.pug
include edukasi 1.pug
include kesehatan.pug
include edukasi 2.pug
include edukasi 3.pug
include edukasi 4.pug
include kartun.pug
include video.pug
include _audio.pug
include pedoman.pug