// Contact Component Mixin
mixin contactComponent()
  .container-contact
    .images-contact
      img(src="https://storage.googleapis.com/a1aa/image/MDehe6LYzKhPLUMWjTWJ67MieSabz7hyoDSeEiKddil7U6tOB.jpg" alt="Illustration of an envelope with a notification badge" width="100" height="100")
      img(src="https://storage.googleapis.com/a1aa/image/0gth43e3qy0zIifkS0xlZlPSPvascCQIkgZPthsbUxyQleWnA.jpg" alt="Illustration of a person working on a computer with various icons around them representing communication and settings" width="300" height="200")
      
    .contact-section
      h2 KONTAK
      .contact-lines
        .contact-line
        .contact-line
      .contact-lines
        .contact-line
        .contact-line
      .contact-lines
        .contact-line
        .contact-line
