// Mixin renamed to menuHome
mixin menuHome()
  .content-style
    .box.box-style.box-heart
      i(class="fas fa-heartbeat")
    .box.box-style.box-live
      | LIVE.
    .box.box-style.box-video
      i(class="fas fa-video")
    .box.box-style.box-audio
      | AUDIO
