// Navbar Mixin
mixin navbar()
  .navbar
    // Left side (Logo)
    .navbar-left
      a(href="#") Saturn News
    
    // Center (Navigation Links)
    .navbar-center
      a(href="index.html") beranda
      a(href="nasional.html") nasional
      a(href="populer.html") terpopuler
      a(href="hiburan.html") hiburan
      a(href="film.html") film
      a(href="#") kartun
      .dropdown
        a(href="#") about us
        .dropdown-content
          a(href="contact.html") kontak
          a(href="redaksi.html") redaksi
          a(href="pedomanberita.html") pedoman berita
          a(href="visimisi.html") visi dan misi
          a(href="faq.html") FAQ
          a(href="#") disclaimer
          a(href="#") pedoman berita
    
    // Right side (Search Container)
    .navbar-right
      .search-container
        input(type="text" placeholder="Cari...")
        button(type="submit")
          i(class="fas fa-search")
