// Profile Component Mixin
mixin profileComponent()
  .container-profile
    .header-profile
      .logo-profile
        img(src="https://storage.googleapis.com/a1aa/image/KuYInhA0NFLmFRsn6b0lhZfwTjkjhRcCO44moIvUiSv9Vv1JA.jpg" alt="Logo with a planet and rings" width="400" height="200")
      .profile-image
        img(src="https://storage.googleapis.com/a1aa/image/yrCBeWRZAk3BfkfTFbo1e2HhNAgVqd4GXf0LVCzQJZohfq36E.jpg" alt="Profile picture of a person in a suit" width="100" height="100")

    .lines-profile
      .line-profile
      .line-profile
      .line-profile
      .line-profile
      .line-profile
