//- kesehatan
- 
  const kes = [
    {
      "imageUrl": "https://storage.googleapis.com/a1aa/image/hSxUoJiDdFq6LVdelJYc9aEvyxF8mmLdqtEsBSS7cLeiniqTA.jpg?",
      "altText": "Illustration of a blood pressure monitor on an arm with a heart symbol"
      }, 
    {
      "imageUrl": "https://storage.googleapis.com/a1aa/image/hSxUoJiDdFq6LVdelJYc9aEvyxF8mmLdqtEsBSS7cLeiniqTA.jpg?",
      "altText": "Illustration of a blood pressure monitor on an arm with a heart symbol"
      }, 
    {
      "imageUrl": "https://storage.googleapis.com/a1aa/image/hSxUoJiDdFq6LVdelJYc9aEvyxF8mmLdqtEsBSS7cLeiniqTA.jpg?",
      "altText": "Illustration of a blood pressure monitor on an arm with a heart symbol"
      },
    {
      "imageUrl": "https://storage.googleapis.com/a1aa/image/hSxUoJiDdFq6LVdelJYc9aEvyxF8mmLdqtEsBSS7cLeiniqTA.jpg?",
      "altText": "Illustration of a blood pressure monitor on an arm with a heart symbol"
      }
  ]
  //- berita

- 
  const br = [
    {
      "iurl": "Foto/image.ainur.png",
      "alt": "tvOne logo"
      },
    {
      "iurl": "Foto/image copy.png",
      "alt": "Metro TV logo"
      },
    {
      "iurl": "Foto/image.png",
      "alt": "Kompas TV logo"
      },
    {
      "iurl": "Foto/image copy 3.png",
      "alt": "iNews TV logo"
      }
  ]

  //- edukasi1
  - 
  const du = [
    {
      "title": "HINDARI ROKOK DAN ALKOHOL",
      "imgSrc": "https://storage.googleapis.com/a1aa/image/XG4ps1KgU0LhCBVAMaAbj4pBaY7Hq5UiJetcdye0Wfme0rrOB.jpg",
      },
    {
      "title": "OLAHRAGA TERATUR",
      "imgSrc": "https://storage.googleapis.com/a1aa/image/qW6uCTfFJvxyZi4xOy8S9JVtwuNvU1aRG1UW0Hbvj1bne6qTA.jpg",
      },
    {
      "iurl": "HINDARI STRES",
      "imgSrc": "https://storage.googleapis.com/a1aa/image/szgzqiQCuELZDNmqWEyRnuyXJF0k3A5scuxkpyUB3e0oe6qTA.jpg",
      }
  ]