mixin berita(images)
  .container
    each image in images
      .card
        img(src=image.src, alt=image.alt, height="200", width="500")

- const images = [ { alt: "tvOne logo", src: "../Foto/image.ainur.png" }, { alt: "Metro TV logo", src: "../Foto/image copy.png" }, { alt: "Kompas TV logo", src: "../Foto/image.png" },{ alt: "iNews TV logo", src: "../Foto/image copy 3.png" }]
