mixin CircleImageContainer(images,src, alt, width, height)
  .circle-images-terpopuler
    .circle-container-terpopuler
      each image in images
        +CircleImage(image.src, image.alt, image.width, image.height)
        .circle-terpopuler
            img(src=src, alt=alt, width=width, height=height)