doctype html
html(lang="en")
  head
    title TV Channels
    link(rel="stylesheet" href="../berita.css")
  body
    .container
      .card
        img(alt="tvOne logo", height="200", src="../Foto/image.ainurpng", width="500")
      .card
        img(alt="Metro TV logo", height="200", src="../Foto/image copy.png", width="500")
      .card
        img(alt="Kompas TV logo", height="200", src="../Foto/image.png", width="500")
      .card
        img(alt="iNews TV logo", height="200", src="../Foto/image copy 3.png", width="500")