doctype html
html
  head
    title Berita
    link(rel="stylesheet" href="../gambar berita.css")
  body
    .container
      img(
        src="https://storage.googleapis.com/a1aa/image/qG4E5fWjHJSvZS7xdtgDlTGJ1fjg4MapdDscJLwATjg2GriTA.jpg"
        alt="Cartoon characters celebrating New Years"
        width="500"
        height="300"
      )
      .text Selamat Tahun Baru
